Source: picard
Section: sound
Priority: optional
Maintainer: Lukáš Lalinský <lalinsky@gmail.com>
Build-Depends: debhelper (>= 5.0.51~),
 python-all-dev (>= 2.5),
 python-support (>= 0.4),
 gettext,
 libofa0-dev,
 libavcodec-dev,
 libavformat-dev,
 imagemagick,
 pkg-config
Standards-Version: 3.9.1
Homepage: http://musicbrainz.org/doc/MusicBrainz_Picard
XS-Python-Version: >= 2.5
Vcs-Git: git://github.com/lalinsky/picard-debian.git
Vcs-Browser: http://github.com/lalinsky/picard-debian

Package: picard
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends},
 python-qt4 (>= 4.1),
 python-mutagen (>= 1.9),
 libdiscid0
Description: Next-Generation MusicBrainz audio files tagger
 Picard is the next generation MusicBrainz tagging application.
 .
 This new tagging concept is album oriented, as opposed to track oriented
 like the others taggers are.
